body {
}

#navBox{
    position: fixed;
    top: 0;
}

#navLinks{
    display: flex;
    justify-content: space-evenly;
    list-style:none;
    font-size: 1.1rem;
    width: 100vw;
}

#navLinks > li > a{
    display: block;
    text-decoration: none;
}

#navLinks > li > a:hover{

}

h1{
    text-align: center;
    text-decoration: underline;
}

footer{
    display: flex;
    position: fixed;
    width: 100vw;
    bottom: 0;
}
