@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');



header{
position: fixed;
width: 100vw;
top: 0;
}

#navLinks{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-size: 1.1rem;
    width: 100vw;
}

#navLinks > li {
        width: 25%;
}

#navLinks > li > a {
            display: block;
            text-align: center;
            text-decoration: none;
}

#navLinks > li > a:hover {
                background-color: #8FAFAA;
                color: #ffffff;
}

#phaseSelectForm{
    text-align: right;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to right, #EEDFA0, #6F9FB9);
    font-family: "Courier Prime", Monospace;
    z-index: 2;
}

    footer #profile-link, footer #GoTo-Top {
        text-decoration: none;
    }

#profile-link {
    background-color: #000000;
    color: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 7px;
}

    #profile-link:hover {
        background-color: #FFFFFF;
        color: #000000;
    }

#GoTo-Top:hover {
    color: #6F9FB9;
    background-color: #353A34;
}

#pageView{
    width: 100vw;
    height: 75vh;
}