header{
position: fixed;
width: 100vw;
top: 0;
}

#navLinks{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-size: 1.1rem;
    width: 100vw;
}

/**#navLinks > li{
    display: block;
}*/

#navLinks > li > a{
    display: block;
    text-decoration: none;
}

#navLinks > li > a:hover{

}

footer{
display: flex;
position: fixed;
justify-content: space-between;
width: 100vw;
bottom: 0;
}

#rightSideFooter{
    display: inline;
}

#phaseSelectForm{
    text-align: right;
}

#name{
    border-right: 1px solid #000000;
}

#GitHub{
    display: block;
    text-decoration: none;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}

#GitHub:hover{

}

#goToTop{
    display: block;
    text-decoration: none;
    border-left: 1px solid #000000;
    text-align: right;
}

#goToTop:hover{

}

#pageView{
    width: 100vw;
    height: 75vh;
}